/* Root styles */

:root {
  scroll-behavior: smooth;
  --dark: #000000;
  --light: #ffffff;
  --background: #e6dfdb;
  --background2: #ddd3d0;
  --coffee: #291f1e;
  --umber: #6d5f56;
}

/* Body Styles */

body {
  color: var(--coffee);
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Flex Styles */

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* General Styles */

.shadow {
  box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.1),
    0 22.3px 17.9px rgba(0, 0, 0, 0.06), 0 100px 80px rgba(0, 0, 0, 0.04);
}

/* Header Styles */

header {
  position: fixed;
  z-index: 2;
}

/* Header AND Footer Styles */

header,
footer {
  width: 100vw;
  background-color: var(--light);  
}

footer {
    padding: 8px;
}

/* Nav Styles */

.menu-and-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 8px;
}

nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
}

nav li {
  padding: 0px;
  margin: 0px;
  margin-left: 16px;
  margin-right: 16px;
}

.nav-list {
    margin-right: 8px;
  }

#nav-icons {
  display: none;
}

#menu {
    color: var(--light);
    background-color: var(--coffee);
    width: 100%;
    margin: 0px;
    padding: 8px;
    display: none;
    flex-direction: column;
    justify-content: center;
}

#menu a {
    color: var(--light);
}

#menu i {
    margin: 8px;
    margin-right: 16px;
    width: 24px;
}

/* Hero styles */

#hero {
  background-image: url("../images/ocean.jpg");
  background-size: cover;
}

#hero h1 {
  text-align: center;
  font-size: 4em;
}

/* Heading and Anchor Styles */

h1 {
  margin: 0px;
  margin-left: 8px;
  margin-right: 16px;
  text-align: center;
}

h3 {
  text-align: center;
}

a {
  color: var(--coffee);
  text-decoration: none;
}

/* Section styles */

.section {
  min-height: 100vh;
}

.text-box {
  background-color: var(--light);
  margin: 16px;
  padding: 16px;
}

/* About styles */

.about-section-heading {
  width: 100%;
  padding-top: 5vh;
  font-size: 4em;
}

#about {
  background-color: var(--background);
}

#about-content {
  justify-content: space-evenly;
}

#profile-pic {
  max-width: 50%;
  margin: 16px;
}

/* Projects styles */

.project-section-heading {
  width: 100%;
  padding-top: 5vh;
  padding-bottom: 5vh;
  font-size: 4em;
}

#projects {
  background-color: var(--background2);
  padding-bottom: 2%;
}

/* Grid styles */

.item {
  width: 90%;
  margin: auto;
  /* height: 100%; */
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.project-image {
  max-width: 100%;
}

.item-description {
  margin: 5%;
}

.item i {
  color: #009688;
}

.item-b img,
.item-d img {
  border-bottom: solid 1px lightgray;
}

/* Footer Styles */

footer {
  text-align: center;
  opacity: 0.5;
}

footer p {
  margin: 0px;
  padding: 0px;
}
