/* Root styles */

:root {
    scroll-behavior: smooth;
    --dark: #000000;
    --light: #ffffff;
    --background: #e6dfdb;
    --background2: #DDD3D0;
    --coffee: #291F1E;
    --umber: #6D5F56;
}

/* Flex Styles */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Body Styles */

body {
    color: var(--coffee);
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

/* Header Styles */

header {
    position: fixed;
    z-index: 2;
}

/* Header AND Footer */

header, footer {
    width: 100vw;
    background-color: var(--light);
    padding: 8px;
}

/* Nav styles */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-right: 16px;
    display: flex;
    align-items: center;
}

nav li {
    padding: 0px;
    margin: 0px;
    margin-left: 16px;
    margin-right: 16px;
}

/* Heading and Anchor Styles */

h1 {
    margin: 0px;
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
}

a {
    color: var(--dark);
    text-decoration: none;
}

.text-box {
    max-width: 50vw;
    border: solid;
    background-color: var(--light);
    /* text-align: center; */
    margin: 16px;
    padding: 16px;
}

/* Section styles */

.section {
    height: 100vh;
}

/* Hero styles */

#hero {
    background-image: url("../images/ocean.jpg");
    background-size: cover;
}

#hero h1 {
    text-align: center;
    font-size: 4em;
}

/* About styles */

.section-heading {
    width: 100%;
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size: 4em;
}

#about {
    background-color: var(--background);
}

#about-content {
    justify-content: space-evenly;
    height: 50vh;
}

#profile-pic {
    max-width: 50%;
    margin: 16px;
}

/* Projects styles */

#projects {
    background-color: var(--background2);
}