/* Root styles */

:root {
    --dark: #000000;
    --coffee: #291F1E;
    --light: #ffffff;
    --accent: #d3744b;
    --background: #e6dfdb;
    --umber: #6D5F56;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Body Styles */

body {
    background-color: var(--background);
    color: var(--dark);
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

/* Header Styles */

header {
    position: fixed;
}

header, footer {
    width: 100vw;
    background-color: var(--light);
    padding: 8px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-right: 16px;
    display: flex;
    align-items: center;
}

li {
    padding: 0px;
    margin: 0px;
    margin-left: 16px;
    margin-right: 16px;
}

h1 {
    margin: 0px;
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
}

a {
    color: var(--dark);
    text-decoration: none;
}

/* Main styles */

main {
    height: 100%;
}

/* Hero styles */

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/ocean.jpg");
    background-size: cover;
    height: 100vh;
}

#hero-h1 {
    border: solid;
    background-color: var(--light);
    text-align: center;
    margin: 16px;
}

/* About styles */

#about {
    height: 100vh;
    background-color: var(--background);
}

#about-content {
    justify-content: space-evenly;
}

#about-text {
    max-width: 50vw;
    border: solid;
    background-color: var(--light);
    text-align: center;
    margin: 16px;
}

img {
    max-width: 50%;
    margin: 16px;
}


/* Projects styles */

#projects {
    height: 100vh;
    background-color: var(--light);
}

/* Footer Styles */

